/* Sample css to illustrate a friendly somewhat product description.
   As extravagant design is not needed as described 
   from the task
 */

body {
  font-family: Sans-Serif;
}

main {
  width: 25%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

img {
  width: 100%;
  height: auto;
}

label {
  margin-bottom: 10px;
  cursor: pointer;
}

fieldset {
  border: 2px solid #2c3e50;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
}

legend {
  padding: 0 10px;
  color: #2c3e50;
  font-weight: bold;
}

.title,
.title-italic {
  text-align: center;
}

.title-color {
  color: #5e5566;
}

.title-italic {
  font-style: italic;
}

.post-text {
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 0;
  text-align: justify;
}

#price {
  font-weight: bold;
  font-size: 1.17em;
  margin-top: 20px;
}
