/* Sample css to illustrate a friendly somewhat blog post.
   As extravagant design is not needed as described 
   from the teask
 */

body {
  font-family: Sans-Serif;
}

main {
  width: 25%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

img {
  width: 100%;
  height: auto;
}

.title {
  text-align: center;
}

.title-color {
  color: #02a7df;
}

.post-text {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin: 20px 0;
  text-align: justify;
}

.like-button,
.comment-icon-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.like-button i.far.fa-heart,
.comment-icon-button i.far.fa-comment {
  color: grey;
}

.like-button:hover i.far.fa-heart,
.comment-icon-button:hover i.far.fa-comment {
  color: black;
}

.like-button i.fas.fa-heart {
  color: #ff2f40;
}

.comment-button {
  background-color: #008cba;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.comment-button:hover {
  background-color: #005f6b;
}

.comment-input {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px 0;
  resize: vertical;
}

.comments-display {
  max-width: 600px;
  margin: 20px 0 10px;
  padding: 5px 0 10px 10px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  color: #333;
}
